/* Header start */
.header-wrap,
.header-nav {
    max-width: 1180px;
    margin: 0 auto;
}

.page-header {
    margin-bottom: 15px;
}

.header-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 27px 0;
}

.header-logo {
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
}

.header-user {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.user-sign-up,
.user-bag {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 400;
}

.user-bag {
    margin-left: 60px;
}

.bag-icon {
    margin-right: 16px;
}

.amount::before {
    content: "(";
}

.amount::after {
    content: ")";
}

.toggle-menu {
    display: none;
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 14px;
    height: 12px;
    font-size: 0;
    border: none;
    cursor: pointer;
    background: transparent;
}

.toggle-menu:focus {
    outline: none;
}

.toggle-menu span {
    position: relative;
    display: block;
    width: 14px;
    height: 2px;
    background: #000;
}

.toggle-menu span::before,
.toggle-menu span::after {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    height: 2px;
    background: #000;

}

.toggle-menu span::before {
    top: -3px;
}

.toggle-menu span::after {
    bottom: -3px;
}


.toggle-menu span::before,
.toggle-menu span::after {
    -webkit-transition-duration: 0.2s, 0.2s;
            transition-duration: 0.2s, 0.2s;
    -webkit-transition-delay: 0.2s, 0s;
            transition-delay: 0.2s, 0s;
}

.toggle-menu span::before {
    -webkit-transition-property: top, -webkit-transform;
    transition-property: top, -webkit-transform;
    transition-property: top, transform;
    transition-property: top, transform, -webkit-transform;
}

.toggle-menu span::after {
    -webkit-transition-property: bottom, -webkit-transform;
    transition-property: bottom, -webkit-transform;
    transition-property: bottom, transform;
    transition-property: bottom, transform, -webkit-transform;
}

.toggle-menu.is-opened span {
    background: none;
}

.toggle-menu.is-opened span::before {
    top: 0;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
}

.toggle-menu.is-opened span::after {
    bottom: 0;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
}

.toggle-menu.is-opened span::before,
.toggle-menu.is-opened span::after {
    background: #f14a58;
    -webkit-transition-delay: 0s, 0.2s;
            transition-delay: 0s, 0.2s;
}

.header-nav {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 13px;
}

.header-nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.header-nav-input {
    background: #fff url(../images/search-icon.jpg) no-repeat 100% 0;
    font-size: 12px;
    color: #a8a8a8;
    padding-bottom: 10px;
    border: none;
    border-bottom: 2px solid #e5e5e5;
    -webkit-transition: .1s;
    transition: .1s;
}

.header-nav-input::-webkit-input-placeholder {
    font-size: 12px;
    color: #a8a8a8;
}

.header-nav-input::-moz-placeholder {
    font-size: 12px;
    color: #a8a8a8;
}

.header-nav-input:-moz-placeholder {
    font-size: 12px;
    color: #a8a8a8;
}

.header-nav-input:-ms-input-placeholder {
    font-size: 12px;
    color: #a8a8a8;
}

/* Header media */
@media screen and (max-width:1024px) {
    .page-header {
        margin-bottom: 25px;
    }

    .header-wrap,
    .header-nav {
        max-width: 688px;
        font-size: 12px;
    }

    .header-logo {
        font-size: 26px;
    }

    .header-nav-list {
        position: relative;
        padding-right: 54px;
    }

    .header-nav-input {
        position: absolute;
        top: 0;
        right: 0;
        width: 15px;
        border: none;
    }

    .header-nav-input::-webkit-input-placeholder {
        font-size: 0;
    }

    .header-nav-input::-moz-placeholder {
        font-size: 0;
    }

    .header-nav-input:-moz-placeholder {
        font-size: 0;
    }

    .header-nav-input:-ms-input-placeholder {
        font-size: 0;
    }

    .header-nav-input:focus {
        top: -5px;
        width: 250px;
        padding: 4px 0 5px;
        background-position: 100% 50%;
        -webkit-box-shadow: -19px 0 7px -1px #fff;
                box-shadow: -19px 0 7px -1px #fff;
        border-bottom: 2px solid #e5e5e5;
    }

    .header-nav-input:focus::-webkit-input-placeholder {
        font-size: 12px;
    }

    .header-nav-input:focus::-moz-placeholder {
        font-size: 12px;
    }

    .header-nav-input:focus:-moz-placeholder {
        font-size: 12px;
    }

    .header-nav-input:focus:-ms-input-placeholder {
        font-size: 12px;
    }

}

@media screen and (max-width: 768px) {

    .page-header {
        margin-bottom: 0;
    }

    .page-header .container {
        position: relative;
    }

    .header-wrap {
        position: relative;
        max-width: 335px;
        padding: 24px 0;
    }

    .header-logo h1 {
        color: transparent;
    }

    .header-logo h1:before {
        content: "TL";
        font-size: 24px;
        color: #000;
    }

    .user-sign-up {
        display: none;
    }

    .user-bag {
        position: relative;
        margin-left: 0;
    }

    .user-bag::after {
        content: "";
        position: absolute;
        display: block;
        top: -29px;
        right: -20px;
        width: 1px;
        height: 74px;
        background: #e5e5e5;
    }

    .toggle-menu {
        display: block;
    }

    .header-nav {
        position: absolute;
        top: 73px;
        left: 0;
        display: none;
        width: 100%;
        padding: 35px 20px 25px;
        border-top: 1px solid #e5e5e5;
        font-size: 24px;
        background: #fff;
        z-index: 2;
    }

    .header-nav-list {
        display: block;
    }

    .header-nav-item:not(:last-child) {
        margin-bottom: 40px;
    }

    .header-nav-item:last-child {
        margin-top: 70px;
    }

    .header-nav-input {
        position: static;
        width: 167px;
        padding-bottom: 8px;
        border-bottom: 1px solid #e5e5e5;
    }

    .header-nav-input::-webkit-input-placeholder {
        font-size: 12px;
    }

    .header-nav-input::-moz-placeholder {
        font-size: 12px;
    }

    .header-nav-input:-moz-placeholder {
        font-size: 12px;
    }

    .header-nav-input:-ms-input-placeholder {
        font-size: 12px;
    }

    .header-nav-input:focus {
        top: 0%;
        width: 167px;
        padding: inherit;
        padding-bottom: 8px;
        background-position: 100% 0;
        -webkit-box-shadow: none;
                box-shadow: none;
        border-bottom: 0;
    }

    .header-nav.is-opened {
        display: block;
    }
}

/* Header end */

/* Footer start */
.footer-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    padding: 0 60px;
}

.footer-left,
.footer-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 50%;
}

.footer-links,
.footer-care {
    width: 50%;
    padding: 55px 0 110px;
}

.footer-links-title,
.footer-care-title,
.footer-twitter-title,
.footer-phone-title {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 45px;
}

.footer-links-list,
.footer-care-list,
.footer-twitter-desc,
.footer-phone-desc {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.footer-links-list li+li,
.footer-care-list li+li {
    margin-top: 25px;
}

.footer-left {
    border-right: 1px solid #e5e5e5;
}

.footer-right {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 55px 0 110px 60px;
}

.footer-contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin-bottom: 70px;
}

.footer-contact-twitter,
.footer-contact-phone {
    width: 50%;
}

.footer-twitter-title,
.footer-phone-title {
    margin-bottom: 20px;
}

.footer-twitter-desc a {
    font-weight: 700;
}

.footer-twitter-desc img {
    margin-right: 7px;
}

.footer-social-desc {
    display: block;
    width: 50%;
    font-family: "Times New Roman";
    font-style: italic;
    font-size: 16px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 35px;
}

.footer-social-links a+a {
    margin-left: 20px;
}

.footer-bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 30px 60px;
}

.footer-copyright,
.footer-info {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 12px;
}

.footer-share {
    position: relative;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 18px;
}

.footer-share-tooltip {
    position: absolute;
    top: 50%;
    right: -55px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    padding: 7px;
    background: #f4f4f4;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 12px;
}

.footer-share-tooltip::before {
    content: '';
    position: absolute;
    width: 7px;
    height: 7px;
    right: 100%;
    top: 50%;
    -webkit-transform: translate(50%, -50%) rotate(-45deg);
            transform: translate(50%, -50%) rotate(-45deg);
    background: #f4f4f4;
}

.footer-share:hover .footer-share-tooltip {
    color: #000;
}

.footer-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.footer-info li {
    margin-left: 30px;
}

.footer-social-links-mobile {
    display: none;
}

/* Footer media */
@media screen and (max-width:1024px) {
    .footer-top {
        padding: 0 40px;
    }

    .footer-left {
        width: 64%;
        border-right: none;
    }

    .footer-right {
        width: 36%;
        padding-left: 0;
    }

    .footer-contact {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }

    .footer-contact-twitter,
    .footer-contact-phone {
        width: 100%;
    }

    .footer-contact-twitter {
        margin-bottom: 41px;
    }

    .footer-social-desc {
        display: none;
    }

    .footer-bottom {
        padding: 30px 40px;
    }

    .footer-share {
        font-size: 16px;
    }
}

@media screen and (max-width: 768px) {
    .footer-top {
        padding: 0;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }

    .footer-left {
        width: 100%;
        border-bottom: 1px solid #e5e5e5;
    }

    .footer-links,
    .footer-care {
        padding: 35px 20px 60px;
    }

    .footer-right {
        width: 100%;
        padding: 0;
    }

    .footer-contact {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        margin: 0;
    }

    .footer-contact-twitter,
    .footer-contact-phone {
        padding: 20px 20px 42px;
    }

    .footer-links-title,
    .footer-care-title,
    .footer-twitter-title,
    .footer-phone-title {
        font-size: 14px;
        margin-bottom: 15px;
    }

    .footer-links-title,
    .footer-care-title {
        margin-bottom: 36px;
    }

    .footer-links-list,
    .footer-care-list,
    .footer-twitter-desc,
    .footer-phone-desc {
        font-size: 12px;
    }

    .footer-contact-twitter {
        margin-bottom: 0;
        border-right: 1px solid #e5e5e5;
    }

    .footer-twitter-desc img {
        margin-right: 2px;
    }

    .footer-social-links {
        display: none;
    }

    .footer-bottom {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        padding: 0;
    }

    .footer-info {
        padding: 28px 20px;
        width: 100%;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        border-bottom: 1px solid #e5e5e5;
        -webkit-box-ordinal-group: 0;
            -ms-flex-order: -1;
                order: -1;
    }

    .footer-info li {
        margin-left: 0;
    }

    .footer-copyright {
        font-size: 10px;
        margin: 27px 0 20px 27px;
    }

    .footer-share {
        font-size: 14px;
        margin: 25px 66px 20px 0;
    }

    .footer-social-links-mobile {
        display: block;
    }

    .footer-social-links-mobile a+a {
        margin-left: 25px;
    }
}

/* Footer end */