/* Default */

*, *::before, *::after {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none;
    color: #f14a58;
}

body, p, ul, h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: inherit;
}

ul {
    list-style-type: none;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
}

@media screen and (max-width: 1024px) {
    .container {
        max-width: 768px;
    }
}

@media screen and (max-width: 768px) {
    .container {
        max-width: 375px;
    }
}

/* Custom */

body {
    background-color: #fff;
    color: #111;
    line-height: 1;
    letter-spacing: 0.03em;
}

/* Main start */

.bag-title {
    padding: 20px 90px;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    font-family: "Open Sans", sans-serif;
    font-size: 26px;
    font-weight: 700;
}

@media screen and (max-width: 1024px) {
    .bag-title {
        padding: 25px 70px;
        font-size: 20px;
    }
}

@media screen and (max-width: 768px) {
    .bag-title {
        padding: 21px 35px;
        font-size: 18px;
    }
}

/* Bag items start */

.bag-items {
    padding: 30px 60px 60px;
}

.bag-items-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 27px;
}

.bag-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 50%;
    margin-bottom: 90px;
}

.bag-item-img {
    position: relative;
    max-height: 340px;
}

.bag-item-img:hover .bag-item-img-overlay {
    cursor: pointer;
    opacity: 1;
}

.bag-item-img-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
    color: #f14a58;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 23px;
    line-height: 340px;
    opacity: 0;
    -webkit-transition: opacity .3s;
    transition: opacity .3s;
}

.bag-item-details {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 210px;
    margin-left: 25px;
}

.bag-item-title {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 700;
    margin-top: 14px;
    margin-bottom: 20px;
    -webkit-transition: color .3s;
    transition: color .3s;
}

.bag-item-img:hover~.bag-item-details .bag-item-title {
    color: #f14a58;
}

.bag-item-price {
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    font-weight: 700;
    margin-bottom: 40px;
}

.bag-item-price::before, .total-cost-price::before {
    content: "£";
}

.bag-item-color, .bag-item-size, .bag-item-quantity {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 12px;
}

.bag-item-quantity {
    margin-bottom: 38px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.minus, .plus {
    width: 10px;
}

.minus:hover, .plus:hover {
    cursor: pointer;
}

.minus {
    margin-left: 10px;
}

.current-quantity {
    margin: 0 5px 0;
}

.remove-item {
    padding: 0;
    border: none;
    background: #fff;
    text-align: left;
    color: #f14a58;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 14px;
}

.remove-item:hover {
    cursor: pointer;
}

.message {
    width: 100%;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 20px;
}

/* Bag item media */

@media screen and (max-width: 1024px) {
    .bag-items-wrap {
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }
    .bag-item {
        max-width: 300px;
        margin-bottom: 96px;
    }
    .bag-items {
        padding: 30px 40px 12px;
    }
    .bag-item-img {
        max-width: 145px;
        max-height: 205px;
    }
    .bag-item-img-overlay {
        line-height: 205px;
    }
    .bag-item-details {
        max-width: 120px;
    }
    .bag-item-title {
        margin-top: 0;
        margin-bottom: 14px;
        line-height: 24px;
    }
    .bag-item-price {
        font-size: 14px;
        margin-bottom: 18px;
    }
    .bag-item-color, .bag-item-size, .bag-item-quantity {
        font-family: 'Roboto', sans-serif;
        font-size: 12px;
        font-weight: 400;
        margin-bottom: 12px;
    }
    .remove-item {
        font-size: 13px;
    }
}

@media screen and (max-width: 768px) {
    .bag-items {
        padding: 15px 20px 12px;
    }
    .bag-item {
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        width: 100%;
        margin-bottom: 42px;
    }
    .bag-item-img {
        max-width: 158px;
        max-height: 223px;
    }
    .bag-item-img-overlay {
        line-height: 223px;
    }
    .bag-item-details {
        max-width: 100px;
        margin-left: 0;
    }
    .bag-item-title {
        margin-top: 14px;
        font-size: 12px;
        line-height: 20px;
    }
    .bag-item-price {
        margin-bottom: 34px;
    }
    .bag-item-color, .bag-item-size, .bag-item-quantity {
        font-size: 10px;
    }
    .bag-item-quantity {
        margin-bottom: 31px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    .remove-item {
        font-size: 11px;
    }
}

/* Bag items end */

/* Buy now start */

.buy-now-title {
    padding: 14px 0;
    border-top: 1px solid #e5e5e5;
    background: #f7f7f7;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    font-size: 12px;
}

.title-red-text {
    color: #f14a58;
}

.buy-now-info {
    padding: 30px 92px 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.empty-bag {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 700;
}

.empty-bag:hover {
    cursor: pointer;
    color: #f14a58;
}

.buy-now-btn {
    display: inline-block;
    padding: 20px 118px;
    background: #fff;
    border: 1px solid #e5e5e5;
    font-family: 'Open sans', sans-serif;
    font-size: 24px;
    font-weight: 700;
    -webkit-transition: .3s;
    transition: .3s;
}

.buy-now-btn:hover {
    cursor: pointer;
    color: #f14a58;
    border-color: #f14a58;
}

.total-cost {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 400;
}

.total-cost-price {
    display: block;
    margin-top: 10px;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: 700;
}

/* Buy now media */

@media screen and (max-width: 1024px) {
    .buy-now-title {
        font-size: 11px;
    }
    .buy-now-info {
        padding: 30px 0 60px;
    }
    .buy-now-btn {
        padding: 20px 87px;
        font-size: 20px;
    }
}

@media screen and (max-width: 768px) {
    .buy-now-title {
        padding: 14px 20px;
        font-size: 10px;
        line-height: 16px;
    }
    .buy-now-info {
        padding: 20px 20px 35px;
    }
    .empty-bag, .total-cost {
        font-size: 10px;
    }
    .total-cost-price {
        font-size: 14px;
    }
    .buy-now-btn {
        padding: 18px 30px;
        font-size: 18px;
    }
}

/* Buy now end */

/* Main end */